:root {
  --basecolor: #434455;
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --white: #fff;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --weight400: 400;
  --weight500: 500;
  --weight700: 700;
  --weight800: 800;
}
/* Studio */
body {
  font-family: "Roboto", sans-serif;
  color: var(--basecolor);
  background-color: var(--white);
}
ul {
  list-style-type: none;
}
.logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: var(--weight800);
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.link-logo-web {
  color: var(--navyblue);
}
.link-logo-studio {
  color: var(--cloud);
}
.list {
  list-style: none;
}
.page-link {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: var(--weight500);
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.link {
  text-decoration: none;
}
.contacts .link {
  color: var(--slate);
}
.link:hover,
.link:focus {
  color: var(--ocean);
}
.contacts {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-style: normal;
}
.section-features {
  background-color: var(--navyblue);
}
.text-solution {
  background-color: var(--navyblue);
  color: var(--white);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
}
.button-service {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  font-size: 16px;
  font-weight: var(--weight500);
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: var(--iris);
  cursor: pointer;
}
.button-service:hover,
.button-service:focus {
  background-color: var(--ocean);
}
.title-features {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: var(--weight500);
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.text-features {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.title-make {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: var(--weight500);
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.section-team {
  background-color: var(--cloud);
}
.title-team {
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
}
.team-list {
  background-color: #ffffff;
}
.name-card {
  color: var(--navyblue);
  font-weight: var(--weight500);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.prof-card {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.footer-info {
  background-color: var(--navyblue);
}
.footer-text {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* Portfolio */
.button-portfolio {
  font-family: "Roboto", sans-serif;
  color: var(--iris);
  text-align: center;
  font-size: 16px;
  font-weight: var(--weight500);
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: var(--cloud);
  cursor: pointer;
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: #ffffff;
  background: var(--ocean);
}
.title-make-portfolio {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-weight: var(--weight500);
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}